@font-face {
	font-family: "Open Sans";
	src: url("assets/fonts/OpenSans-ExtraBold.ttf");
}
#ticket_number{
	width: 90%;
}

.message-container {
	margin-top: 0px;
}

.jumbotron {
  margin-top: 0.5%;
  text-align: center;
}

.cardapio > p {
	border-bottom: solid 2px #ccc;
	text-align: left;
}

.cardapio > p > span {
	float: right;
}

body {
  background: url(../images/bg.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
